.ts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* grid-template-columns: max-content 1fr max-content; */
  gap: var(--spacing-6);
  padding-inline: var(--spacing-8);
  padding-block: var(--spacing-6);
  margin: 0;
}

.ts > h2 {
  font-family: var(--font-family-monospace);
  font-size: var(--sizing-5);
}

.ts > ol {
  display: flex;
  gap: var(--spacing-6);
}

.ts > ol > li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-4);
  min-height: var(--sizing-8);
  min-width: var(--sizing-8);
  color: var(--color-green-95);
  background-color: var(--color-green-50);
  border-radius: var(--radius-full);
  cursor: ew-resize;
}

.ts > ol > li:first-child {
  cursor: e-resize;
}

.ts > ol > li:last-child {
  cursor: w-resize;
}

.ts > button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-block: 0;
  padding-inline: var(--spacing-4);
  background: none;
  background-color: var(--color-red-50);
  background-clip: border-box;
  border-width: var(--sizing-border-1);
  border-color: var(--color-red-50);
  border-style: solid;
  border-radius: var(--radius-2);
  line-height: var(--sizing-6);
  min-height: var(--sizing-6);
  min-width: var(--sizing-6);
  text-decoration: none;
  white-space: normal;
  user-select: none;
  cursor: pointer;
  color: var(--color-neutral-100);
  appearance: none;
  -webkit-appearance: none;
  -webkit-box-pack: center;
}

.ts > button:hover {
  color: var(--color-red-95);
  background-color: var(--color-red-40);
  border-color: var(--color-red-40);
}

.ts > button:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-neutral-100), 0 0 0 4px var(--color-red-40);
}

.ts > button:active {
  color: var(--color-red-90);
  background-color: var(--color-red-30);
  border-color: var(--color-red-30);
}
