.slider {
  position: relative;
  width: 256px;
  height: 48px;
  background-color: #e5e7eb;
  border-radius: 9999px;
  width: 100%;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;

  &.-dragging {
    cursor: grabbing;
  }

  &.-confirmed {
    pointer-events: none;
  }

  &.-animating {
    pointer-events: none;
  }

  &__progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #10b981;
    border-radius: 24px;
    transition: width .5s ease-out;
    min-width: 48px;

    .slider.-dragging & {
      transition: none;
    }

    .slider.-animating & {
      transition: width .5s ease-out;
    }
  }

  &__handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background-color: #10b981;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    transition: transform .5s ease-out;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;

    .slider.-dragging & {
      transition: none;
      cursor: grabbing;
    }

    .slider.-animating & {
      transition: transform .5s ease-out;
    }
  }
  &__arrow {
    color: #10b981;
  }

  &__text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    transition: opacity 0.3s ease-out;
    pointer-events: none;

    span {
      color: #4b5563;
      font-weight: 600;
    }
  }

  &__checkmark {
    position: absolute;
    right: 0;
    top: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%) scale(0);
    color: #4caf50;
    font-size: 24px;
    background: white;
  }

  &.-confirmed .slider__checkmark {
    animation: bounce-in .5s ease forwards;
  }
}

@keyframes bounce-in {
  0% {
    transform: translateY(-50%) scale(.3);
  }
  20% {
    transform: translateY(-50%) scale(1.2);
  }
  50% {
    transform: translateY(-50%) scale(.8);
  }
  90% {
    transform: translateY(-50%) scale(1);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}
