.tsl {
  overflow: hidden;
}

.tsl > ol {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  padding-block: var(--spacing-8);
}

.tsl > ol > li {
  background: none;
  background-color: var(--color-neutral-90);
}
