html {
  font-family: var(--font-family-default);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

main {
  flex: 1 1 auto;
}
