.pitlane {
  background: lightskyblue;
  font-weight: 900;
  font-size: 1em;
  line-height: 1.2em;

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li,
  .pitlane-tween {
    width: 14vw;
    height: 14vw;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    box-sizing: border-box;
    align-items: center;
    border-radius: 50%;
    background: yellow;
    border: 1vw solid white;
    font-family: Bebas;
    font-size: 4vw;
    font-style: normal;
    background: white url(/number.svg);
    user-select: none;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    animation: appear 1s ease forwards;

    &:after {}

    &.sortable-chosen {
      opacity: .2;
      background: white;
      opacity: .5;
    }

    &.sortable-ghost {
      background: springgreen;
      transform: scale(1.2);
      opacity: 1;
    }

    &.ghost {
      opacity: .5;
    }

    &:hover {
      z-index: 8;
      position: relative;
    }

    &:active {
      cursor: move;
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    ul#q li:not(:last-child):nth-child(3n) {
      margin-right: 20px;
      position: relative;

      &:after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: springgreen;
        position: absolute;
        right: -26px;
      }
    }

    &:hover:nth-child(2n):after {
      opacity: .2;
    }
  }

  .pitlane-tween {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }

  .reels {
    overflow-y: scroll;
    position: absolute;
    top: 12.2em;
    left: 0;
    bottom: 2.2em;
    right: 0;
    opacity: .5;
  }

  .numbers,
  .reels {}

  .numbers {
    padding-bottom: 0.1px;

    .reel {
      margin: 2vw;

      ul {
        padding: 2vw;
        border: 3vw solid aliceblue;
        min-width: 100%;
        min-height: 10vw;
        background: aliceblue;
        margin: 0;
        box-sizing: border-box;
        border-radius: 14vw;

        &:empty {
          background: snow;
          border-color: snow;
          opacity: 0.5;

          &:hover {
            border-color: snow;
          }

          &:after {
            font-size: 10vw;
            line-height: 10vw;
          }
        }
      }
    }

    .reel.numbers-track ul:hover {
      border-color: lightgreen;
    }

    .reel.numbers-track ul:empty:after {
      content: 'TRACK';
    }

    .reel.numbers-ready ul:hover {
      border-color: gold;
    }

    .reel.numbers-ready ul:empty:after {
      content: 'READY';
    }

    .reel.numbers-q ul:empty:after {
      content: 'Q';
    }

    .reel.numbers-halt ul:hover {
      border-color: pink;
    }

    .reel.numbers-halt ul:empty:after {
      content: 'ON HOLD';
    }

    .reel.numbers-out ul:empty:after {
      content: 'OUT';
    }
  }

  button {
    padding: 2vw 5vw;
  }

  .button-queue {
    margin: 10vw auto;
    font-size: 10vw;
    width: 15vw;
    line-height: 10vw;
    padding: 3vw 2vw 2vw 3vw;
    border-radius: 8vw;
    text-align: center;
  }

  .button-reset {
    margin: 10vw auto;
    background: crimson;
    width: auto;
    font-size: 5vw;
  }

  @media screen and (min-width: 768px) {
    .pitlane ul li {
      width: 80px;
      height: 80px;
      font-size: 24px;
    }

    .numbers {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
    }

    .numbers .reel {
      flex: 0 1 50%;
      margin: 20px;
    }

    .numbers .reel.numbers-q {
      flex: 0 1 100%;
    }

    .numbers .reel.numbers-ready,
    .numbers .reel.numbers-out {
      flex: 1 1 auto;
    }

    .numbers .reel ul {
      padding: 20px;
      min-height: 80px;
      min-width: 100%;
    }

    .numbers .reel ul:empty:after {
      font-size: 80px;
      line-height: 80px;
    }

    button {
      padding: 20px 40px;
    }

    .button-queue {
      margin: 40px auto;
      font-size: 80px;
      width: 156px;
      line-height: 78px;
      padding: 40px 46px 34px;
      border-radius: 78px;
      text-align: center;
    }

    .button-reset {
      margin: 100px auto;
      background: crimson;
      width: auto;
      font-size: 30px;
    }
  }

  .over {
    position: fixed;
    background: transparent;
    min-width: 100px;
    min-height: 14vw;
    border-radius: 14vw;
    padding: 30px;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .5);
    box-shadow: 2px 2px 20px white, 2px 2px 10px rgba(0, 0, 0, .2);
    pointer-events: none;
    margin: -20px;
    padding-left: calc(14vw + 40px);
    box-sizing: border-box;

    &.-edge {
      padding-right: calc(14vw + 20px);
      padding-left: 20px;
    }

    @media screen and (min-width: 768px) {
      min-height: 80px;
      padding-left: 100px;
      border-radius: 60px;

      &.-edge {
        padding-right: 100px;
      }
    }

    img {
      max-width: 30px;
      max-height: 30px;
      float: left;
    }

    span {
      padding: 0 5px;
      float: left;
      line-height: 30px;
      font-weight: normal;
    }

    .power:after {
      content: ' kW';
    }

    .pilot {
      display: block;
      clear: both;
      padding: 0 0 0 30px;
    }

    .team {
      display: block;
      clear: both;
      padding: 0 0 0 30px;
    }
  }
}

@keyframes appear {
  to {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }
}
