body {
  margin: unset;
  overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

p {
  margin: unset;
}

ul, ol {
  list-style: none;
  margin: unset;
  padding: unset;
}
