main.stopwatch {
  display: flex;
  flex-direction: column;
}

main.stopwatch form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-10)
}

main.stopwatch form button {
  flex: 1 1 auto;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: min(20vw, 20vh);
  background: none;
  background-color: var(--color-green-50);
  color: var(--color-neutral-100);
  border: none;
  border-radius: var(--radius-7);
  text-decoration: none;
  white-space: normal;
  user-select: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -webkit-box-pack: center;
}

main.stopwatch form button:hover {
  color: var(--color-green-95);
  background-color: var(--color-green-40);
  border-color: var(--color-green-40);
}

main.stopwatch form button:focus {
  outline: 0;
  box-shadow: 0 0 0 4px var(--color-neutral-100), 0 0 0 8px var(--color-green-40);
}

main.stopwatch form button:active {
  color: var(--color-green-90);
  background-color: var(--color-green-30);
  border-color: var(--color-green-30);
}
