.dropdown {
    position: relative;
    display: inline-block;

    &__trigger {
      cursor: pointer;
      user-select: none;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        outline: 2px solid #4caf50;
        outline-offset: 2px;
      }
    }

    &__content {
      position: absolute;
      left: 0;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      z-index: 10;
      min-width: 120px;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      pointer-events: none;
      top: 100%;

      &.-above {
        top: auto;
        bottom: 100%;
        transform: translateY(-10px);
      }
    }
  }

  .-open {
    &.dropdown__content {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
