.pitlane-interface {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  &__main-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }

  &__on-track {
    display: flex;
    align-items: center;
    gap: 10px;

    select {
      padding: 5px;
    }
  }

  &__q-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;

    &:hover:not(:disabled) {
      background-color: #45a049;
    }

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }

  &__heat-info {
    display: flex;
    gap: 15px;
  }

  &__pools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
  }

  &__pool {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;

    &--track { background-color: #e6ffe6; }
    &--ready { background-color: #ffffd9; }
    &--q { background-color: #e6f3ff; }
    &--halt { background-color: #fff0e6; }
    &--out { background-color: #ffe6e6; }
  }

  &__pool-title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__number {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  &__session-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }

  &__heat-dropdown,
  &__session-dropdown {
    position: relative;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: 2px solid #4CAF50;
      outline-offset: 2px;
    }
  }

  &__dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;

    button {
      width: 100%;
      padding: 5px 10px;
      margin-bottom: 5px;
      border: none;
      background-color: #f0f0f0;
      cursor: pointer;

      &:hover:not(:disabled) {
        background-color: #e0e0e0;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  &__final-session {
    color: #ff9800;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    &__main-controls {
      flex-direction: column;
      align-items: stretch;
      gap: 15px;
    }

    &__on-track {

    }

    &__heat-info {
      justify-content: space-between;
    }

    &__q-button {
      width: 100%;
    }

    &__pools {
      grid-template-columns: 1fr;
    }

    &__session-controls {
      flex-direction: column;
      gap: 15px;
    }
  }
}
