.vertical > ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-8);
  padding: var(--spacing-8);
}

.vertical > ul > li {
  display: block;
}

.vertical > ul > li > a {
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: var(--radius-full);
  background-color: var(--color-blue-50);
  color: var(--color-neutral-100);
  padding: var(--spacing-4);
  font-size: min(10vw, 10vh);
}
